<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>317640267810-ni4gjqkq81edohnphaenqp3uk0irb2ud.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.317640267810-ni4gjqkq81edohnphaenqp3uk0irb2ud</string>
	<key>API_KEY</key>
	<string>AIzaSyAYANEN3UoqfU9RD4HoubqdC6TX18RMscQ</string>
	<key>GCM_SENDER_ID</key>
	<string>317640267810</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>OmarElmahmoud.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>chat-app-ios-13-b6917</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-ios-13-b6917.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:317640267810:ios:eca5dd15d25053b3e7527b</string>
</dict>
</plist>